@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-heading: #0B0F19;
    --color-leadText: #0B0F19;
    --color-paragraph: #565973;
    --color-h2: #585C7B;
    --color-navText: #33354D;
    --color-menuButton: #3E4265;
    --color-darkModeSwitch: #ffffff;
    --color-gradient: linear-gradient(90deg, rgb(99, 102, 241) 0% ,rgb(139, 92, 246)50% ,rgb(217, 70, 239) 100%);
    --backgroundColor-btn: #6366F1;
    --backgroundColor-section: #ffffff;
    --backgroundColor-gray: #F3F6FF;
    --backgroundColor-appbtn: #131022; 
    --background-hero: radial-gradient(at bottom, rgba(99, 101, 241, 10%) 0%, rgba(219, 70, 239, 5%) 42%, rgba(241, 244, 253, 7%) 83%);
    --backgroundColor-slider: #9397AD; 
}

[data-theme="dark"] {
    --color-white: #ffffff;
    --color-heading: #ffffff;
    --color-leadText: rgb(255, 255, 255, 1);
    --color-paragraph: rgba(255, 255, 255, 0.70);
    --color-h2: #ffffff;
    --color-navText: #33354D;
    --color-menuButton: #ffffff;
    --color-gradient: linear-gradient(90deg, rgb(99, 102, 241) 0% ,rgb(139, 92, 246)50% ,rgb(217, 70, 239) 100%);
    --backgroundColor-btn: #6366F1;
    --backgroundColor-section: #0B0F19;
    --backgroundColor-gray: #0b0f19dc; 
    --backgroundColor-slider: #9397AD;
    --backgroundColor-appbtn: #eff2fc;
    --background-hero: #3E4265; background: linear-gradient(355deg, rgba(62, 66, 101, 1) 0%, rgba(19, 16, 34, 1) 0%, rgba(11, 15, 25, 1) 100%);
}

.body {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    min-width: 390px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: manrope;
}

button {
    border: none;
    cursor: pointer;
    border-radius: .25em;
    color:var(--color-white);
    background-color: var(--backgroundColor-btn);
    
        &:hover {
            background: var(--color-gradient);
        }

}

.button {
    border: none;
    cursor: pointer;
    border-radius: .25em;
    font-family: manrope;
    color:var(--color-white);
    background-color: var(--backgroundColor-btn);
    
        &:hover {
            background: var(--color-gradient);
        }

}

.header {
    width: 100vw;
    display: flex;
    height: 3.69em;
    margin-top: .69em;
    align-items: center;
    justify-content: space-between;
    background-color: var(--backgroundColor-light-hero);

    @media (width >=768px) {height: 4.56em;} 
    @media (width >= 1024px), (width >= 1400px) {height: 4.75em;}

   
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .siliconLogo {
            margin-left: .2em;

            @media (width >= 768px) {
                margin-left: 1.5em;
            }
        }

        .header-buttons {
            display: flex;
            align-items: center;

            .darkModeText {
                margin-right: .94em;
                display: none;
                color: var(--color-paragraph);
            }

            /* ----- Toggle-switch START ----- */
            .toggle {
                width: 2.875em;
                height: 1.5em;
                border-radius: 50%;
                display: flex;
                margin-right: .9em;

                .toggle-input {
                    display: none;
                }  
               
                .slider {
                    position: relative;
                    display: inline-block;
                    width: 2.875em;
                    height: 1.5em;
                    cursor: pointer;
                    border-radius: 100vw;
                    transition: background .2s;
                    background-color: var(--backgroundColor-slider);
                }
            
                .toggle-input:checked ~ .slider {
                    background-color: var(--backgroundColor-btn);
                }
                
                .slider::after { 
                    content: '';
                    width: 1.25em;
                    height: 1.25em;
                    margin-top: 0.125em;
                    margin-left: 0.125em;
                    border-radius: 50%;
                    position: absolute;
                    transition: transform .2s; /* For transition right- to left-side.*/
                    background-color: var(--color-white);
                }

                .toggle-input:checked ~ .slider::after {
                    transform: translateX(1.25em);
                    transition: .2s; /*For transition left- to right-side. */
                    background-color: var(--color-white);
                    
                }                
            } 
            /* ----- Toggle-switch END ----- */

            .menuButton {
                margin-right: .6em;
                margin-left: 0;
                .material-symbols-outlined {color: var(--color-menuButton)}
            }
        
            .sign-in {
                width: 8.75em;
                height: 2.25em;
                display: none;
            }
            
             .siliconLogo {
            margin-left: 0.75em;
            }
        

            @media (width >= 768px) {
            max-width: 1023px;
            .header-buttons {margin-right: 0.75em;}
            .darkModeText {display: flex; color: #131022;}
            .sign-in {display: none;}
            .toggle {margin-right: 4.5em;}
            }
    
            @media (width >= 1024px) {
            max-width: 1320px;
            .darkModeText {color:var(--color-paragraph);}
            .menuButton {display: none;}
            .sign-in {display: inline;}
            }

            @media (width >= 1400px) {
            max-width: 1920px;
            .menuButton {display: none;}
            .sign-in {display: inline;}
            }
        }
    } 
    

    @media (width >= 768px) {
        max-width: 1023px;
        .header-buttons {margin-right: 0.75em;}
        .darkModeText {display: flex; color: #131022;}
        .sign-in {display: none;}
        .toggle {margin-right: 4em;}
        
    }
    
    @media (width >= 1024px) {
        max-width: 1320px;
        .darkModeText {color:var(--color-paragraph);}
        .menuButton {display: none;}
        .sign-in {display: inline;}
    }

    @media (width >= 1400px) {
        max-width: 1920px;
        .menuButton {display: none;}
        .sign-in {display: inline;}
    }

}

.hero {
    height: 31.19em;
    width: 100dvw;
    margin-left: .12em;
    background: var(--background-hero) ;
    @media (width >= 768px) { height: 39.63em;}
    @media (width >= 1024px), (width >= 1400px) { height: 50em;}
        
    .herotext-wrapper{
        margin-top: 10em;

        .hero-text {
            
            h1 {
            font-weight: 800;
            font-size: 2.13em;
            line-height: 2.78em;
            margin-top: -4.5em;
            color: var(--color-heading);
            }

            h2 {
            font-weight: 400;
            font-size: 1.125em;
            line-height: 1.8em;
            margin-top: -.9em;
            color: var(--color-h2);
            }

            #h1-1 { margin-left: 1.4em; margin-bottom: 0em;}
            #h1-2 { margin-left: .85em; margin-top: -1.5em;}
            #h2-1 { margin-left: -.2em;}
            #h2-2 { margin-left: .4em;}
            #h2-3 { margin-left: 7em;}

            @media (width >= 580px) {
                #h1-1 { margin-left: 4.4em; margin-bottom: 0em;}
                #h1-2 { margin-left: 3.85em; margin-top: -1.5em;}
                #h2-1 { margin-left: 5.4em;}
                #h2-2 { margin-left: 6em;}
                #h2-3 { margin-left: 12.7em;}
            }
        }
    }
    
    .appStore-btn {
        
        height: 3.15em;
        width: 22.9em;
        margin-top: 1em;
        border-radius: .5em;
        background-color: var(--backgroundColor-appbtn);

        @media (width >= 580px) {margin-left: 6em;}
        
        @media (width >= 768px) {
            max-width: 1023px;
        }
    }

    .googlePlay-btn {
        height: 3.15em;
        width: 22.9em;
        margin-top: 1em;
        border-radius: .5em;
        background-color: var(--backgroundColor-appbtn);

        @media (width >= 580px) {margin-left: 6em;}

        @media (width >= 768px) {
            max-width: 1023px;
        }
    }

}

.test {height: 300px; background-color: var(--color-white);}