@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
}

/* Color-scheme for light mode */
:root {
    --color-white: #ffffff;
    --color-heading: #0B0F19;
    --color-leadText: #0B0F19;
    --color-paragraph: #565973;
    --color-brands-border: #E2E5F1;
    --color-h2: #585C7B;
    --color-navText: #33354D;
    --color-menuButton: #3E4265;
    --color-darkModeSwitch: #ffffff;
    --color-gradient: linear-gradient(90deg, rgb(99, 102, 241) 0% ,rgb(139, 92, 246)50% ,rgb(217, 70, 239) 100%);
    --backgroundColor-btn: #6366F1;
    --backgroundColor-section: #ffffff;
    --backgroundColor-gray: #F3F6FF;
    --backgroundColor-appbtn: #131022; 
    --background-hero: radial-gradient(at bottom, rgba(99, 101, 241, 10%) 0%, rgba(219, 70, 239, 5%) 42%, rgba(241, 244, 253, 7%) 83%);
    --background-header: radial-gradient(at bottom, rgba(99, 101, 241, 0.027) 0%, rgba(219, 70, 239, 0) 42%, rgba(241, 244, 253, 0) 83%);
    --backgroundColor-slider: #9397AD; 
}

/* Color-scheme for dark mode*/
[data-theme="dark"] {
    --color-white: #ffffff;
    --color-heading: #ffffff;
    --color-leadText: rgb(255, 255, 255, 1);
    --color-paragraph: rgba(255, 255, 255, 0.70);
    --color-brands-border: #E2E5F1;
    --color-h2: #ffffff;
    --color-navText: #33354D;
    --color-menuButton: #ffffff;
    --color-gradient: linear-gradient(90deg, rgb(99, 102, 241) 0% ,rgb(139, 92, 246)50% ,rgb(217, 70, 239) 100%);
    --backgroundColor-btn: #6366F1;
    --backgroundColor-section: #0B0F19;
    --backgroundColor-gray: #0b0f19dc; 
    --backgroundColor-slider: #9397AD;
    --backgroundColor-appbtn: #eff2fc;
    --background-hero: #3E4265; background: linear-gradient(355deg, rgba(62, 66, 101, 1) 0%, rgba(19, 16, 34, 1) 0%, rgba(11, 15, 25, 1) 100%);
}

.body {
    font-size: 16px;
    scroll-behavior: smooth;
}

/* ----- Container to set viewport settings ----- */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: manrope;

     /* Tablet */
    @media (width >= 768px) {
      
    }

    @media (width >= 1024px) {
     
    }
  
    /* Desktop */ 
    @media (width >= 1440px) {
    
    }

}

button {
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: .25em;
    font-family: manrope;
    color:var(--color-white);
    background-color: var(--backgroundColor-btn);
    
        &:hover {
            background: var(--color-gradient);
        }

}

.header {   
    background: var(--background-header);
    height: 3.69em;
    width: 100dvw;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (width >=768px) {height: 4.56em;} 
    @media (width >= 1024px) {height: 4.75em;}

   
    .header-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .siliconLogo { 
            margin-left: 1em; 
            
            @media (width >= 768px) { margin-left: 2.13em;}
            @media (width >= 1400px) { margin-left: 5em;}
            @media (width >= 1800px) { margin-left: 19em;} 
        }

        .header-buttons {
            display: flex;
            align-items: center;

            .darkModeText {
                margin-right: .94em;
                display: none;
                color: var(--color-paragraph);
            }

            /* ----- Toggle-switch START ----- */
            .toggle {
                width: 2.875em;
                height: 1.5em;
                border-radius: 50%;
                display: flex;
                margin-right: 1.5em;

                .toggle-input {
                    display: none;
                }  
               
                .slider {
                    position: relative;
                    display: inline-block;
                    width: 2.875em;
                    height: 1.5em;
                    cursor: pointer;
                    border-radius: 100vw;
                    transition: background .2s;
                    background-color: var(--backgroundColor-slider);
                }
            
                .toggle-input:checked ~ .slider {
                    background-color: var(--backgroundColor-btn);
                }
                
                .slider::after { 
                    content: '';
                    width: 1.25em;
                    height: 1.25em;
                    margin-top: 0.125em;
                    margin-left: 0.125em;
                    border-radius: 50%;
                    position: absolute;
                    transition: transform .2s; /* For transition right- to left-side.*/
                    background-color: var(--color-white);
                }

                .toggle-input:checked ~ .slider::after {
                    transform: translateX(1.25em);
                    transition: .2s; /*For transition left- to right-side. */
                    background-color: var(--color-white);
                    
                }                
            } 
            /* ----- Toggle-switch END ----- */

            .menuButton {
                margin-top: .7em;
                margin-right: 1em;
                .material-symbols-outlined { font-size: 2em; color: var(--color-menuButton)}
            }
        
            .sign-in {
                width: 8.75em;
                height: 2.25em;
                display: none;

                @media (width >= 1400px) { margin-right: 7.5em;}
                @media (width >= 1800px) { margin-right: 11.5em;} 
            }
            
            /* ----- Media Queries for each screen size ----- */
            @media (width >= 768px) {
            .header-buttons {margin-right: 0.75em;}
            .darkModeText {display: flex; color: #131022;}
            .sign-in {display: none;}
            .toggle {margin-right: 4.5em;}
            .menuButton {margin-right: .5em;}
            }
    
            @media (width >= 1024px) {
            .darkModeText {color:var(--color-paragraph);}
            .menuButton {display: none;}
            .sign-in {display: inline;}
            }

            @media (width >= 1400px) {
            .menuButton {display: none;}
            .sign-in {display: inline;}
            }
        }
    } 
    

    @media (width >= 768px) {
        max-width: 1023px;
        .header-buttons {margin-right: 0.75em;}
        .darkModeText {display: flex; color: #131022;}
        .sign-in {display: none;}
        .toggle {margin-right: 4em;}
        
    }
    
    @media (width >= 1024px) {
        max-width: 1320px;
        .darkModeText {color:var(--color-paragraph);}
        .menuButton {display: none;}
        .sign-in {display: inline;}
    }

    @media (width >= 1400px) {
        max-width: 1920px;
        .menuButton {display: none;}
        .sign-in {display: inline;}
    }

}

.hero {
    width: 100dvw;
    height: 31.19em;
    background: var(--background-hero);
    @media (width >= 768px) { height: 40em;}
    @media (width >= 1440px) { height: 50em;}

    .grid-containerHero {
        display: grid;
        margin-left: .5em;
        grid-template-columns: 1fr;
        grid-template-rows: 9em 5em 5em 8em;

        grid-template-areas:"heading" 
                            "heading-h2"
                            "apps";

        #heading {grid-area: heading;}
        #heading-h2 {grid-area: heading-h2;}
        #appStore {grid-area: appStore;}
        #googlePlay {grid-area: googlePlay;}
        #phone-tablet {grid-area: phone;}
        #heading-h3 {grid-area: text;}
        #phone-desktop {grid-area: phone2;}
        #app-wrapper {grid-area: apps;}
        #heading-h4 {grid-area: text2;}

        @media (width >= 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: "heading heading"
                                 "text phone"
                                 "apps phone";
        }
        
        
        @media (width >= 1440px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: "heading phone2"
                                 "text2 phone2"
                                 "apps phone2";
        }

    }
    
    h1 {
        font-weight: 800;
        font-size: 1.72em;
        line-height: 2.78em;
        margin-top: 4.5em;
        color: var(--color-heading);
    }

    h2 {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.8em;
        margin-top: -.9em;
        color: var(--color-h2);
    }

    h3 {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.8em;
        margin-top: -.9em;
        color: var(--color-h2);
    }

    h4 {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.8em;
        margin-top: -.9em;
        color: var(--color-h2);
    }

    /* Id for text in Hero-section, to set margin etc. */
    #h1-1 { margin-top: 0em; margin-left: 1.4em; margin-bottom: 0em; grid-row: 1;}
    #h1-2 { margin-left: .9em; margin-top: -1.5em; grid-row: 1;}
    #h2-1 { margin-left: .1em;}
    #h2-2 { margin-left: 1em;}
    #h2-3 { margin-left: 7em;}
        

    @media (width >= 390px) {
        .heading {margin-top: .7em;}

        h1 {font-size: 2.12em;}
        h2 {font-size: 1.12em;}

        #h1-1 { margin-top: -.5em; margin-left: 1.4em; margin-bottom: 0em;}
        #h1-2 { margin-left: .9em; margin-top: -1.5em;}
        #h2-1 { margin-left: -.6em;}
        #h2-2 { margin-left: -.1em;}
        #h2-3 { margin-left: 7em;}
    }

    @media (width >= 768px) {
            
        .texth2 {display: none;}
        .texth3 {margin-top: 6em; margin-right: 4em; margin-left: -2em;}
        h1 {font-size: 2.765em;}
        h3 {font-size: 1.2em;}
        #h1-1 { margin-top: .2em; margin-left: 4.2em;}
        #h1-2 { margin-left: 3.7em; margin-top: -1.5em;}
        #h3-1 { margin-left: 2.5em; margin-right: -10em; margin-top: -.9em; margin-bottom: 0em; line-height: 1.6em;}
        #h3-2 { margin-left: 2.5em; margin-right: -10em; margin-top: .2em; line-height: 1.6em;}
    }

    @media (width >= 1440px) {
        .texth4 {margin-top: 4em; font-size: 600;}
        h1 {font-size: 3.5em;}
        h4 {font-size: 1.13em;}
        #h1-1 { margin-top: 1.7em; margin-left: 1.1em;}
        #h1-2 { margin-top: -1.55em; margin-left: 1.1em;}
        #h4-1 { margin-left: 3.5em; margin-top: -8.3em;}
        #h4-2 { margin-left: 3.5em; margin-top: -.2em;}
    } 

    @media (width >= 1800px) {
        #h1-1 { margin-top: 1.7em; margin-left: 5.2em;}
        #h1-2 { margin-top: -1.45em; margin-left: 5.2em;}
        #h4-1 { margin-left: 16.3em; margin-top: -8.3em;}
        #h4-2 { margin-left: 16.3em; margin-top: -.2em;}
    }
    
    /* Container for the two buttons*/
    .app-wrapper{
        display: grid;
        margin-left: -5em;

        @media (width >= 390px) { margin-left: -10em;}
        @media (width >= 768px) { margin-top: -13em; margin-left: 1em;}
        @media (width >= 1024px) { margin-top: -13em; margin-left: -12.5em;}
        @media (width >= 1440px) { margin-top: -44.5em; margin-left: 4.3em;}
        @media (width >= 1800px) { margin-left: 8.2em;}

        .appStore-btn {
        height: 3.15em;
        max-width: 18em;
        margin-top: 2em;
        border-radius: .5em;
        background-color: var(--backgroundColor-appbtn);

        #AppStore-img {margin-top: .4em; margin-left: 4.5em; height: 2.2em;}

        @media (width >= 390px) {max-width: 23em; margin-top: 2.3em; margin-left: 2em; #AppStore-img {margin-left: 6.9em;}}
        @media (width >= 768px) {max-width: 7.88em; margin-top: 0em; margin-left: 0em; #AppStore-img {width: 6.2em; margin-top: .4em; margin-left: .3em;}}
        @media (width >= 1440px) {max-width: 11.25em; height: 3.25em; margin-left: -9em; margin-right: 0; #AppStore-img {width: 8em; margin-top: .4em;}}
        }

        .googlePlay-btn {
        height: 3.15em;
        max-width: 18em;
        margin-top: 6em;
        border-radius: .5em;
        background-color: var(--backgroundColor-appbtn);

        #GooglePlay-img {margin-top: .4em; margin-left: 3.8em; height: 2.2em;}

        @media (width >= 390px) {max-width: 23em; margin-top: 6.5em; margin-left: 2em; #GooglePlay-img {margin-left: 6.3em;}}
        @media (width >= 768px) {max-width: 8.63em; margin-left: 9em; margin-top: 0em; #GooglePlay-img {width: 6.8em; margin-top: .4em; margin-left: .5em;}}
        @media (width >= 1440px) {max-width: 11.25em; height: 3.25em; margin-left: 3.6em; #GooglePlay-img {width: 8em; margin-top: .4em;}}
        }

    }

    .texth3 {
        display: none; 
        @media (width >= 768px) { display: block;}
        @media (width >= 1440px) {display: none;}
    }

    .texth4 {
        display: none; 
        @media (width >= 768px) { display: none;}
        @media (width >= 1440px) {display: block;}
    }

    /* two different img of the phones because there are two different sizes.*/
    .heroPhone-tablet {
        display: none;

        @media (width >= 768px) {display: grid; margin-right: 1.1em;}
        @media (width >= 1440px) {display: none;}
    }

    .heroPhone-desktop {
        display: none;

        @media (width >= 1440px) {display: block; margin-top: 6.95em; margin-right: 8.25em;}
    }
}

.brands {
    height: 9.19em;
    
    @media (width >= 0px) {height: 0em;}

    .brands-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 3em;
        margin-left: .5em;

        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 6.16em;
            width: 9.9em;
            border-radius: 0.5em;
            border: 1px solid var(--color-brands-border);
        }

        @media (width >= 0px) {
            #b1 {display: none;}
            #b2 {display: none;}
            #b3 {display: none;}
            #b4 {display: none;}
            #b5 {display: none;}
            #b6 {display: none;}
        }

        @media (width >= 768px) {
            #b1 {display: flex;}
            #b2 {display: flex;}
            #b3 {display: flex;}
            #b4 {display: flex;}
        }

        @media (width >= 1024px) {
            margin-right: 3.1em;
            #b1 { width: 9em; height: 6.25em;}
            #b2 { width: 9em; height: 6.25em;}
            #b3 { width: 9em; height: 6.25em;}
            #b4 { width: 9em; height: 6.25em;}
            #b5 {display: flex; width: 9em; height: 6.25em;}
            #b6 {display: flex; width: 9em; height: 6.25em; box-shadow: 1px 3px 1px 2px #e2e5f133;}
        }

        @media (width >= 1400px) {
            margin-left: 4em;
            margin-right: 7.9em;
            #b1 { width: 12.25em; height: 6.25em;}
            #b2 { width: 12.25em; height: 6.25em;}
            #b3 { width: 12.25em; height: 6.25em;}
            #b4 { width: 12.25em; height: 6.25em;}
            #b5 {display: flex; width: 12.25em; height: 6.25em;}
            #b6 {display: flex; width: 12.25em; height: 6.25em; box-shadow: 1px 3px 1px 2px #e2e5f133;}
        }

         @media (width >= 1800px) { 
            margin-right: 10.5em;
            margin-left: 17.3em;
         }
    }
}

.features {
    position: absolute;
    height: 62.56em;

    h2{
        font-weight: 800;
        font-size: 1.74em;
        line-height: 1.8em;
        color: var(--color-heading);

        @media (width >= 768px) {font-size: 2.09em;}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    h3 {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.8em;
        color: var(--color-h2);

        @media (width >= 390px) { font-size: 1.12rem;}
        @media (width >= 768px) { font-size: 1.125em;}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    h4 {
        font-weight: 800;
        font-size: 1.25em;
        line-height: 1.8em;
        color: var(--color-heading);

        @media (width >= 768px) {font-size: 1.25em;}
    }

    p {
        font-weight: 400;
        line-height: 1.6em;
        color: var(--color-h2);

        @media (width >= 768px) {font-size: 1em;}
    }

    .img-box { 
        height: 3.75em;
        width: 3.75em;
        border-radius: 0.5em;
        background-color: var(--backgroundColor-gray);
    }

    .grid-container-features {
        display: grid;
        margin-top: -3em;
        margin-left: 1em;


        @media (width >= 390px) {margin-left: .2em;}
        @media (width >= 768px) {
            margin-top: 9.19em;
            margin-left: .7em;
            margin-right: .7em;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 1fr);

            .heading-features {grid-column: 1/span 2; grid-row: 1;}
            .text-features { grid-column: 1/span 2; grid-row: 2;}
            .easy-payments {grid-column: 1; grid-row: 3;}
            .data-security {grid-column: 2; grid-row: 3;}
            .cost-statistics {grid-column: 1; grid-row: 4;}
            .support {grid-column: 2; grid-row: 4;}
            .regular-cashback {grid-column: 1; grid-row: 5;}
            .top-standards {grid-column: 2; grid-row: 5;}
        }
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}



    }

    .heading-features { 
        margin-top: 1em; 
        margin-left: 1.6em;
        
        @media (width >= 390px) {margin-left: 3.1em;}
        @media (width >= 768px) {margin-left: 8.35em;}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    .text-features {
        margin-top: -.5em;
    
        @media (width >= 390px) {margin-top: -.6em; line-height: 1.55em;}
        @media (width >= 768px) {}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    .easy-payments {
        display: grid;
        margin-top: 1.5em;
        grid-template-columns: 3.75em auto;
        grid-template-rows: 3.75em auto;

        .img-box {grid-column: 1; grid-row: 1;}
        .features-heading {grid-column: 2; grid-row: 1; margin-top: -0.1em; margin-bottom: 0em; margin-left: 1em; margin-right: 0em;}
        .features-text { grid-column: 2; grid-row: 2; margin-top: -1.5em; margin-left: 1.2em;}

        @media (width >= 390px) {margin-top: .8em; .features-text {margin-top: -1.2em; margin-left: 1.25em; line-height: 1.6em;}}
        @media (width >= 768px) {}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    .data-security {
        display: grid;
        grid-template-columns: 3.75em auto;
        grid-template-rows: 3.75em auto;

        .img-box {grid-column: 1; grid-row: 1;}
        .features-heading {grid-column: 2; grid-row: 1; margin-top: -0.1em; margin-bottom: 0em; margin-left: 1.2em; margin-right: 0em;}
        .features-text { grid-column: 2; grid-row: 2; margin-top: -1.5em; margin-left: 1.56em; margin-right: 0em;}

        @media (width >= 390px) { margin-top: .8em; margin-right: .9em;} .features-text {margin-top: -1.2em;}
        @media (width >= 768px) {}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    .cost-statistics {
        display: grid;
        grid-template-columns: 3.75em auto;
        grid-template-rows: 3.75em auto;

        .img-box {grid-column: 1; grid-row: 1;}
        .features-heading {grid-column: 2; grid-row: 1; margin-top: -0.1em; margin-bottom: 0em; margin-left: 1.2em; margin-right: 0em;}
        .features-text { grid-column: 2; grid-row: 2; margin-top: -1.5em; margin-left: 1.56em; margin-right: 0em;}

        @media (width >= 390px) { margin-top: .8em; margin-right: .9em;} .features-text {margin-top: -1.2em;}
        @media (width >= 768px) {}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    .support {
        display: grid;
        grid-template-columns: 3.75em auto;
        grid-template-rows: 3.75em auto;

        .img-box {grid-column: 1; grid-row: 1;}
        .features-heading {grid-column: 2; grid-row: 1; margin-top: -0.1em; margin-bottom: 0em; margin-left: 1.2em; margin-right: 0em;}
        .features-text { grid-column: 2; grid-row: 2; margin-top: -1.5em; margin-left: 1.56em; margin-right: 0em;}

        @media (width >= 390px) { margin-top: .8em; margin-right: .9em;} .features-text {margin-top: -1.2em;}
        @media (width >= 768px) {}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    .regular-cashback {
        display: grid;
        grid-template-columns: 3.75em auto;
        grid-template-rows: 3.75em auto;

        .img-box {grid-column: 1; grid-row: 1;}
        .features-heading {grid-column: 2; grid-row: 1; margin-top: -0.1em; margin-bottom: 0em; margin-left: 1.2em; margin-right: 0em;}
        .features-text { grid-column: 2; grid-row: 2; margin-top: -1.5em; margin-left: 1.56em; margin-right: 0em;}

        @media (width >= 390px) { margin-top: .8em; margin-right: .9em;} .features-text {margin-top: -1.2em;}
        @media (width >= 768px) {}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }

    .top-standards {
        display: grid;
        grid-template-columns: 3.75em auto;
        grid-template-rows: 3.75em auto;

        .img-box {grid-column: 1; grid-row: 1;}
        .features-heading {grid-column: 2; grid-row: 1; margin-top: -0.1em; margin-bottom: 0em; margin-left: 1.2em; margin-right: 0em;}
        .features-text { grid-column: 2; grid-row: 2; margin-top: -1.5em; margin-left: 1.56em; margin-right: 0em;}

        @media (width >= 390px) { margin-top: .8em; margin-right: .9em;} .features-text {margin-top: -1.2em;}
        @media (width >= 768px) {}
        @media (width >= 1440px) {}
        @media (width >= 1800px) {}
    }
}